<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{discos.meusDiscosTitulo}"></title>
</head>
<body>

    <h1 th:text="#{discos.meusDiscosTitulo}"></h1>

    <a th:href="@{/loja/discos/novo}" th:text="#{discos.cadastrar}"></a>

    <div th:if="${#lists.isEmpty(discos)}">
        <p th:text="#{discos.nenhumCadastrado}"></p>
    </div>

    <div th:each="disco : ${discos}">
        <h3 th:text="${disco.titulo}"></h3>
        <p th:text="${disco.artista}"></p>
        <p th:text="${disco.generoMusical}"></p>
        <p th:text="${disco.valor}"></p>
        <p th:text="${disco.estadoConservacao}"></p>
        <p th:text="${disco.vendido} ? #{discos.vendido} : #{discos.disponivel}"></p>
        <hr/>
    </div>

</body>
</html>
